body{
  background-color: #f1f3f6 !important;
}

.navbar{
  background-color: #2874f0;
}

.navbar .container-fluid{
  width: 70%;
  padding-left: 40px;
}

.logo{
  width: 75px;
}
.serachBarNav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #fff;
  min-width: 564px;
}
.navbar .me-2{
  padding: 0 16px;
  border-radius: 2px 0 0 2px;
  border: 0;
  outline: 0 none;
  font-size: 14px;
  height: 36px;
  width: 100%;
}

.btnSearch{
  justify-content: flex-end;
    border: 1px solid #fff;
    background-color: #fff;
    height: 36px;
    width: 44px;
    border-radius: 2px;
    cursor: pointer;
    padding: 4px 12px 0 8px;
}

.loginBtn{
  margin: 0px 40px;
  text-decoration: none;
  color: #2874f0 !important;
  font-weight: 500 !important;
  background-color: #fff !important;
  cursor: pointer !important;
  border-radius: 2px !important;
  height: 32px !important;
  padding: 5px 40px !important;
  border: 1px solid #dbdbdb !important;
}

.loginBtn a{
  text-decoration: none;
}

.spNav{
  display: flex !important;
  align-items: center !important;
  line-height: 20px !important;
  font-size: 16px !important;
  letter-spacing: .1px !important;
  font-weight: 500 !important;
  color: #fff !important;
  position: relative !important;
  margin-right: 5px;
}

.cartBtn{
  background-color: #2874f0 !important;
  border: 0px !important;
  color: #fff;
  font-size: 16px !important;
  letter-spacing: .1px !important;
  font-weight: 500 !important;
}